/**
 * 1. Center element in page.
 */
@mixin wq-page-center {
  padding: 0 $wq-side-spacing; /* 1 */
  width: $wq-body-width; /* 1 */
  margin: 0 auto; /* 1 */       
}

 /**
 * 1. Tile image full-width.
 */
.wq-header {
  position: relative;
  background-image: url('../assets/images/water-tile.png'); /* 1 */
  background-repeat: repeat-x; /* 1 */
  height: 240px;
  display: flex; /* 1 */
  flex-direction: column; /* 1 */
  justify-content: flex-end; /* 1 */

}

  /**
   * 1. Align with rest of content.
   * 2. Put image in background.
   */
  .wq-header__content {
    position: absolute;
    top: 0;
    left: calc(50% - #{$wq-body-width * 0.5}); /* 1 */
    background-image: url('../assets/images/water.png'); /* 2 */
    background-size: 824px 240px; /* 2 */
    background-repeat: no-repeat; /* 2 */
    height: inherit;
    @include wq-page-center;
  }

    .wq-header__logo {
      position: absolute;
      left: 50px;
      top: 140px;
      @include bg-image('logo', 419px, 50px);
    }

  /**
   * 1. Place above header.
   */
  .wq-nav {
    position: relative; /* 1 */
    z-index: 10; /* 1 */
    height: 40px;
    background-color: rgba(#1796cf, 0.5);
    border-top: 1px solid rgba(white, 0.5);
  }

    .wq-nav__content {
      height: inherit;
      display: flex;
      @include wq-page-center;
    }

    .wq-nav__item {
      display: flex;
      align-items: center;
      height: inherit;
      padding: 0 24px;
      color: white;
      font-size: 16px;
      font-weight: 700;
      border-left: 1px solid rgba(black, 0.5);
      border-right: 1px solid rgba(white, 0.5);
      cursor: pointer;
      &:first-child {
        box-shadow: -1px 0 0 rgba(white, 0.5);
      }
      &:last-child {
        box-shadow: 1px 0 0 rgba(black, 0.5);
      }
    }

.wq-body {
  padding: 0 $wq-side-spacing;
  @include wq-page-center;
}

  .wq-location-name {
    display: block;
    @include bg-image('plant-name', 307px, 33px);
  }