.wq-alert-button-container {
  text-align: center;
}

  .wq-alert-button {
    display: inline-block;
    background-color: #95daf6;
    color: #106890;
    border: 3px solid #5dbeec;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 8px 16px;
    margin: 28px auto;
    cursor: pointer;
  }