.wq-samples-table {
  border-collapse: collapse;
  border-bottom: 1px solid #5dbeec;
  margin-bottom: 14px;
}

  .wq-samples-table-header {
    background-color: #5dbeec;
    color: white;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
  }

  .wq-samples-table-header,
  .wq-samples-table-cell {
    width: 150px;
    height: 45px;
    padding: 0 20px;
  }

  .wq-samples-table-header--primary {
    background-color: #95daf6;
    color: #1796cf;
  }

  .wq-samples-table-header,
  .wq-samples-table-cell {
    & + & {
      border-left: 1px solid #d1effb;
    }
  }

  .wq-samples-table-header--primary,
  .wq-samples-table-cell--primary {
    width: 85px;
  }

  .wq-samples-table-cell {
    color: #333333;
    font-weight: 300 !important;
    text-align: left;
    & + & {
      border-left-style: dotted;
    }
    &.is-samples-table-cell-warning {
      background-color: #ffff94;
    }

    &.is-samples-table-cell-danger {
      background-color: #ff9494;
    }
  }

  .wq-samples-table-cell--primary {
    text-align: left;
  }

.wq-samples-table-cell-alert {
  @include bg-image('alert', 23px, 20px);
}