doctype html
html(
  lang = "en"
)

  head

    title Department of Water Quality

    //- Fonts
    link(
      href = "http://fonts.googleapis.com/css?family=Open+Sans:400,700,300"
      rel = "stylesheet"
      type = "text/css"
    )

    //- CSS
    link(
      href = "/styles/main.css"
      rel = "stylesheet"
      type = "text/css"
    )

  body

      .wq-header
        .wq-header__content
          .wq-header__logo(
            alt="Department of Water Quality"
          )
        //- Nav
        .wq-nav
          .wq-nav__content
            .wq-nav__item Home
            .wq-nav__item Locations
            .wq-nav__item Help

      .wq-body
        //- Location
        h1.wq-location-name(
          alt="LA Aqueduct Filtration Plant"
        )

        //- Water Quality app
        #waterQualityApp

    script(
      src="/scripts/main.js"
    )