body {
  margin: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
}

@mixin bg-image($filename, $width, $height) {
  width: $width;
  height: $height;
  background-image: url('../assets/images/#{$filename}.png');
  background-size: $width $height;
  background-repeat: no-repeat;
}

@import "ui/App/app";
@import "ui/Alert/alert";
@import "ui/AlertButton/alertButton";
@import "ui/Samples/samplesTable";
@import "ui/Samples/samplesTablePageButton";