.wq-alert {
  display: none;
  align-items: center;
  background-color: #fbb9b9;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 24px;

  &.is-alert-visible {
    display: flex;
  }
}

  .wq-alert__icon {
    @include bg-image('alert', 64px, 58px);
  }

  .wq-alert__label {
    color: #9a3333;
    font-size: 25px;
    font-weight: 700;
    margin-left: 50px;
  }